# Time(seconds) before removing json(to avoid duplicate download)
EXPIRE_TIME = 14400

# Time(seconds) before querying for live videos
SLEEP_TIME = 100

# Download path
# E.g. DOWNLOAD = "I:\\Archive\\%(channel)s\%(upload_date)s - %(title)s\\%(upload_date)s - %(title)s (%(id)s)"
DOWNLOAD = None

# Cookie path
# E.g. COOKIE = 'I:\\archive scripts\\batch scripts\\member_script\\newcookiefile_2.txt'
COOKIE = None

# Discord webhook url
WEBHOOK_URL = None
DEAD_MEMBER_WEBHOOK_URL = None

# Option to log output to log file
LOGGING = False
